@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-size: 17px;
}

body{
    background-color: #fff;
}

.header{
    
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    padding: 0 5%;    
}

.header .logo:hover{
    cursor: pointer;
}

.header .logo img{
    width: 300px;
}

.nav-links{
    list-style: none;
    margin-top: 25px;
    li{
        display: inline-block;
        padding: 0 20px;
        
    }

    li:hover{
        transform: scale(1.1);
    }

    a{
        color: white;
        text-decoration: none;
        border: solid thin rgb(255, 255, 255);
        border-radius: 20px;
        padding: 6px 35px;
        
    }

    a:hover{
        color: #ce790b;
        border-color: #ce790b;;
    }
}


.header .btn button{
    font-weight: 600;
    padding: 6px 35px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.header .btn button:hover{
    color: #ce790b;
    transform: scale(1.1);
}

.Premio{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; 
}


.seccion-1{
    display:flex;
    justify-content: center;
    margin-top: 70px;
}
.item-1{   
    margin: 0 25px 0 50px;
}
.item-1-txt{
    border: solid thin rgb(0, 0, 0);
    width: 700px;
    padding: 10px;
}

.titulo-h2{
    margin-top: 70px;
    
    h2{
        font-size: 30px;
        text-align: center;
        font-weight: bold;
    }

    hr{
        width: 1000px;
        margin: 25px auto;
        border: solid 1px black;
    }
    img{
        height: 100px;
    }
}

.btn-skoll{
    padding: 5px 50px;
    border: solid 2px black;
    border-radius: 10px;  
}
.btn-skoll:hover{
    color: #ce790b;
    font-weight: bold;
    border: solid 3px #ce790b;
    transform: scale(1.1);
}

.Producto img{
    width: 250px;
}

.item-2{
    margin-left: 200px;
}
.txt-click{
    text-align: center;
    font-weight: bold;
}
#parrafo-1{
    margin-left: 0;
}


.footer{
    bottom: 0;
    background-color: #000;
    width: 100%;
    height: 120px;
    position: relative; 
    display: flex;
    align-items: center;
    
}


.div-txt-footer{
    text-align: center;
    color: white;
    
    padding: 0 260px;  
}
.txt-footer{
    padding-left: 200px;
    margin-bottom:  0;
}

.imagen-footer{
    height: 65px;
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.imagen-footer2{
    max-height: 50px;
    padding-left: 60px;
}

.footer-visa img{
    width: 500px;
}