{% load static %}
{% load humanize %} 
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  
  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    sintegrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <!--Iconos Bootstrap-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <!--CSS-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <!--Barra de navegacion -->
  <header>
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img class="logo-normal" src="{% static 'img/Logo-sinfondo.png' %}"   alt="Logo" width="90" height="90">
          <img class="logo-hover"  src="{% static 'img/Logo-sinfondo2.png' %}"  alt="Logo" width="88" height="88">
          Lobos de Guerra
        </a>
        <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <!--Botones del Nav-->
          <div class="navbar-nav">
            <a class="nav-link" href="{% url 'mitologia' %}">Mitología</a>
            <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
            <a class="nav-link"   href="{% url 'compra' %}">Carrito<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-text-right" viewBox="0 0 10 4"> <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/></svg>
            <i class="bi bi-cart3"> {% if total_cantidad_productos > 0 %} {{ total_cantidad_productos }} {% endif%}</i></a>
            {% if user.is_authenticated %}
              {% if user.is_staff %}
                <a class="nav-link" href="{% url 'crudProductos' %}">Productos</a>
              {% endif %}
              <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ user.username }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if user.is_staff %}
                  <li><a class="dropdown-item " href="http://127.0.0.1:8000/admin/">Panel Django</a></li>
                  {% endif %}
                  <li><a class="dropdown-item " href="{% url 'logout' %}">Cerrar Sesión</a></li>
                </ul>
              </div>
            {% else %}
              <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
            {% endif %}
              <!--<form action="{% url 'logout' %}" method="post">
                {% csrf_token %} 
                <button class="nav-link" type="">Cerra Sesión</button>
              </form>-->
          </div>
        </div>
      </div>
    </nav>
  </header>

<!-- Carrusel -->
  <section style="margin-top: 118px;">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active w-100" data-bs-interval="4000">
            <img src="{% static 'img/Fondo3.jpg' %}" class="d-block w-100" alt="imagen 1">
          <div class="carousel-caption d-none d-md-block">
            <p></p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="{% static 'img/Fondo2-tuneado.jpg' %}" class="d-block w-100" alt="imagen 2">
          <div class="carousel-caption d-none d-md-block">
            <p></p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="{% static 'img/Fondo1.webp' %}" class="d-block w-100" alt="imagen 3">
          <div class="carousel-caption d-none d-md-block">
            <p></p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <div class="container">
    <div>
        <h1 id="titulo-destacados">PRODUCTOS Y ARTICULOS VIKINGOS</h1>
    </div>
    <!-- Otro contenido de tu página -->
</div>

<!-- Card de Articulos -->
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for p in productos %}
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <div class="card h-100">
        {% if p.imagen %} <!--Solo si existe--> 
        <img src="{{p.imagen.url}}" class="card-img-top" alt="imgen" style="height: 300px;">
        {% endif %}
        <div class="card-body text-center">
          <h5 class="card-title fw-semibold">{{p.nombre}}</h5>  
          <button type="button" class="btn btn-outline-light mt-3 mb-3" data-bs-toggle="modal" data-bs-target="#modal-articulo-{{forloop.counter}}">Añadir al carrito</button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div> <!-- fin row -->
</div> <!-- fin container -->

<!-- Modals -->
{% for p in productos %}
<div class="modal fade" id="modal-articulo-{{forloop.counter}}" tabindex="-1" aria-labelledby="nombre..." aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex gap-4">
        <div class="w-50 ms-3">
          {% if p.imagen %} <!--Solo si existe--> 
          <img class="w-100 rounded-1" src="{{p.imagen.url}}" alt="imgen">
          {% endif %}
        </div>
        <div class="w-50 p-2">
          <h5>{{p.nombre}}</h5>
          <hr>
          <p class="fs-5">${{p.precio | intcomma }}</p>
          <div class="mt-2">
          <form method="post" action="{% url 'agregar_al_carrito' p.id %}">
            {% csrf_token %}
            <button type="submit" id="btn-comprar-index">Añadir al carrito</button>
          </form>
          </div>
          <p class="mt-4">{{p.descripcion}}</p>
          <hr>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
{% endfor %}


  <!--Footer-->
  <div id="hola" class="container-fluid text-white p-3" style="background-color: black; margin-top: 200px;">

    <div class="mt-3">
      <h3 class="text-center fw-bold">Únete a nosotros y síguenos en nuestras redes</h3>
      <hr>
    </div>

    <div class="row justify-content-around text-center text-md-start">
      <div class="col-md-2 text-center">
        <h1 class="mb-0" style="font-family: 'Vikingo';">Vikingos</h1>
        <img src="{% static 'img/Logo-sinfondo.png' %}" alt="img-logo" style=" width: 100px;">
      </div>
      <div class="col-md-2">
        <ul class="list-unstyled">
          <li class="fw-bold my-2">Partnership</li>
          <li><a href="#" class="text-decoration-none text-white">Website</a></li>
          <li><a href="#" class="text-decoration-none text-white">Social Media</a></li>
          <li><a href="#" class="text-decoration-none text-white">Branding</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="list-unstyled">
          <li class="fw-bold my-2">About</li>
          <li><a href="" class="text-decoration-none  text-white">Our Project</a></li>
          <li><a href="" class="text-decoration-none  text-white">Careers</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="list-unstyled">
          <li class="fw-bold my-2">Support</li>
          <li><a href="#" class="text-decoration-none text-white">Contact</a></li>
          <li><a href="#" class="text-decoration-none text-white">Supprt Request</a></li>
        </ul>
      </div>
      <div class="col-md-2" >
        <li class="fw-bold my-2 list-unstyled">Follow us</li>
        <ul class="list-unstyled d-flex justify-content-center justify-content-md-start">
          <li><a href="https://www.facebook.com/profile.php?id=100092718123317" target="_blank" ><i class="social bi bi-facebook me-2"></i></a></li>
          <li><a href="#"                                                                       ><i class="social bi bi-whatsapp mx-2"></i></a></li>
          <li><a href="https://www.instagram.com/lobosdeguerrachile/"           target="_blank" ><i class="social bi bi-instagram mx-2"></i></a></li>  
        </ul>
      </div>
    </div> <!--Fin Row Footer-->
    <hr>
    <div class="row">
      <div class="col-md-12 text-center pt-2">
        <p>&copy; 2024 Copyright <a href="#" class="text-white">The Providers</a></p>
      </div>
    </div>

  </div> <!--Fin Footer-->

  
</body>
</html>