{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mitología</title>
  
  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    sintegrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <!--Iconos Bootstrap-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <!--CSS-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <!--Barra de navegacion-->
  <header>
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img class="logo-normal" src="{% static 'img/Logo-sinfondo.png' %}"   alt="Logo" width="90" height="90">
          <img class="logo-hover"  src="{% static 'img/Logo-sinfondo2.png' %}"  alt="Logo" width="88" height="88">
          Lobos de Guerra
        </a>
        <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <!--Botones del Nav-->
          <div class="navbar-nav">
            <a class="nav-link" href="{% url 'mitologia' %}">Mitología</a>
            <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
            <a class="nav-link"   href="{% url 'compra' %}">Carrito<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-text-right" viewBox="0 0 10 4"> <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/></svg>
              <i class="bi bi-cart3"> {% if total_cantidad_productos > 0 %} {{ total_cantidad_productos }} {% endif%}</i></a>
            {% if user.is_authenticated %}
              {% if user.is_staff %}
                <a class="nav-link" href="{% url 'crudProductos' %}">Productos</a>
              {% endif %}
              <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ user.username }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if user.is_staff %}
                  <li><a class="dropdown-item " href="http://127.0.0.1:8000/admin/">Panel Django</a></li>
                  {% endif %}
                  <li><a class="dropdown-item " href="{% url 'logout' %}">Cerrar Sesión</a></li>
                </ul>
              </div>
            {% else %}
              <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
            {% endif %}
              <!--<form action="{% url 'logout' %}" method="post">
                {% csrf_token %} 
                <button class="nav-link" type="">Cerra Sesión</button>
              </form>-->
          </div>
        </div>
      </div>
    </nav>
  </header>

  <!--Contenido-->
  <div class="container" style="margin-top: 200px;">
    
    <div id="titulo-mit">
        <h2> Mitología Nórdica</h2>
        <hr>
    </div>
    

    <div class="fila-mit">
      <img class="img-mit" src="{% static 'img/thor-1.jpg' %}" alt="img1">
      <div class="historia-mit">
          <h5>Thor hijo de Odin y Frigg</h5>
          <p>En la mitología nórdica, Thor es el dios portador del martillo asociado con el trueno, el rayo, las tormentas, los robles, la fuerza, la protección de la humanidad, y también la santificación, curación y fertilidad. Las deidades afines en la amplia mitología germánica y el paganismo fueron conocidas en el inglés antiguo como Þunor y en el alto alemán antiguo como Donar, que surgen del protoalemán *Þunraz (que significa "trueno").</p>
      </div>     
    </div>

    <div class="fila-mit">     
      <img class="img-mit" src="{% static 'img/odin.webp' %}" alt="img2">
      <div class="historia-mit">
          <h5>Odin el Padre de Todos</h5>
          <p>Odín (nórdico antiguo Óðinn), también llamado Wotan o Woden, es considerado el dios principal de la mitología nórdica, así como de algunas religiones etenas. Su papel, al igual que el de muchos dioses nórdicos es complejo. Es el dios de la sabiduría, la guerra y la muerte, pero también se le considera, aunque en menor medida, el dios de la magia, la poesía, la profecía, la victoria y la caza.</p>
      </div>  
    </div>

    <div class="fila-mit">   
      <img class="img-mit" src="{% static 'img/loki.jpg' %}" alt="img3">
      <div class="historia-mit">
          <h5>Loki el mentiroso</h5>
          <p>Loki es una figura mitológica perteneciente a la mitología nórdica. Es hijo de los gigantes Farbauti y Laufey y tiene dos hermanos, Helblindi y Býleistr, de los que poco se sabe. En las eddas es descrito como el «origen de todo fraude» y se mezcló con los dioses libremente, llegando a ser considerado por Odín como su hermano de sangre hasta el asesinato de Balder. Después de esto, los Æsir lo capturaron y lo ataron a tres rocas. Según la profecía se liberará de sus ataduras para luchar contra los dioses en el Ragnarök.</p>
      </div>
    </div>
    <div class="fila-mit">
      <img class="img-mit" src="{% static 'img/ullr.avif' %}" alt="img4">
      <div class="historia-mit">
          <h5>Ullr dios de la caza</h5>
          <p>En la mitología nórdica, Ullr es hijo de Sif e hijo adoptivo de Thor. Mientras que las fuentes existentes son escasas, este pudo haber sido un dios mayor en tiempos prehistóricos, o incluso un aspecto de la cabeza del panteón proto-germánico, mencionado en la chapa de Thorsberg del siglo iii.</p>
      </div>
    </div>
    <hr>
  </div>

  <!--Premio modal-->
  <div class="codpromo-mit">
    
    <p class="text-uppercase fw-bold">Klikk her og vinn en premie</p>
    <!-- Button to Open the Modal -->
    <button type="button" class=" btn-skoll" data-bs-toggle="modal" data-bs-target="#myModal">
      SKÖLL
    </button>
    
    

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
              <h4 class="modal-title">CÓDIGO VÁLIDO HASTA HOY</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
              Recibiste una promoción de un 25% 
              con el código: NORDICO$2024$
              </div>

              <!-- Modal footer -->
              <div class="modal-footer" style="display: block;">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
              </div>

            </div>
        </div>
    </div>
  </div>

  <!--Footer-->
  <div class="container-fluid text-white p-3" style="background-color: black; margin-top: 70px;">

    <div class="mt-3">
      <h3 class="text-center fw-bold">Únete a nosotros y síguenos en nuestras redes</h3>
      <hr>
    </div>

    <div class="row justify-content-around text-center text-md-start">
      <div class="col-md-2 text-center">
        <h1 class="mb-0" style="font-family: 'Vikingo';">Vikingos</h1>
        <img src="{% static 'img/Logo-sinfondo.png' %}" alt="img-logo" style=" width: 100px;">
      </div>
      <div class="col-md-2">
        <ul class="list-unstyled">
          <li class="fw-bold my-2">Partnership</li>
          <li><a href="#" class="text-decoration-none text-white">Website</a></li>
          <li><a href="#" class="text-decoration-none text-white">Social Media</a></li>
          <li><a href="#" class="text-decoration-none text-white">Branding</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="list-unstyled">
          <li class="fw-bold my-2">About</li>
          <li><a href="" class="text-decoration-none  text-white">Our Project</a></li>
          <li><a href="" class="text-decoration-none  text-white">Careers</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="list-unstyled">
          <li class="fw-bold my-2">Support</li>
          <li><a href="#" class="text-decoration-none text-white">Contact</a></li>
          <li><a href="#" class="text-decoration-none text-white">Supprt Request</a></li>
        </ul>
      </div>
      <div class="col-md-2" >
        <li class="fw-bold my-2 list-unstyled">Follow us</li>
        <ul class="list-unstyled d-flex justify-content-center justify-content-md-start">
          <li><a href="https://www.facebook.com/profile.php?id=100092718123317" target="_blank" ><i class="social bi bi-facebook me-2"></i></a></li>
          <li><a href="#"                                                                       ><i class="social bi bi-whatsapp mx-2"></i></a></li>
          <li><a href="https://www.instagram.com/lobosdeguerrachile/"           target="_blank" ><i class="social bi bi-instagram mx-2"></i></a></li>  
        </ul>
      </div>
    </div> <!--Fin Row Footer-->
    <hr>
    <div class="row">
      <div class="col-md-12 text-center pt-2">
        <p>&copy; 2024 Copyright <a href="#" class="text-white">The Providers</a></p>
      </div>
    </div>

  </div> <!--Fin Footer-->
</body>
</html>