{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Productos</title>
  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    sintegrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
    <!--Iconos Bootstrap-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!--CSS-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

  <!--Barra de navegacion -->
  <header>
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img class="logo-normal" src="{% static 'img/Logo-sinfondo.png' %}"   alt="Logo" width="90" height="90">
          <img class="logo-hover"  src="{% static 'img/Logo-sinfondo2.png' %}"  alt="Logo" width="88" height="88">
          Lobos de Guerra
        </a>
        <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <!--Botones del Nav-->
          <div class="navbar-nav">
            <a class="nav-link" href="{% url 'mitologia' %}">Mitología</a>
            <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
            <a class="nav-link"   href="{% url 'compra' %}">Carrito<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-text-right" viewBox="0 0 10 4"> <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/></svg>
            <i class="bi bi-cart3"></i></a>
            {% if user.is_authenticated %}
              {% if user.is_staff %}
                <a class="nav-link" href="{% url 'crudProductos' %}">Productos</a>
              {% endif %}
              <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ user.username }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if user.is_staff %}
                  <li><a class="dropdown-item " href="http://127.0.0.1:8000/admin/">Panel Django</a></li>
                  {% endif %}
                  <li><a class="dropdown-item " href="{% url 'logout' %}">Cerrar Sesión</a></li>
                </ul>
              </div>
            {% else %}
              <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
            {% endif %}
              <!--<form action="{% url 'logout' %}" method="post">
                {% csrf_token %} 
                <button class="nav-link" type="">Cerra Sesión</button>
              </form>-->
          </div>
        </div>
      </div>
    </nav>
  </header>


  <h2 class="text-center mb-5" style="margin-top: 170px;">Editar Productos</h2>

  <div class="text-center">
    <a class="btn btn-primary" href="{% url 'productosAdd' %}"> Añadir Producto </a>
  </div>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="mt-3" id="idMensajes">
        {% if mensaje %}
        <div class="text-center alert alert-warning" role="alert">
          {{ mensaje }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="container mt-0 mb-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for p in productos %}
      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <div class="card h-100">
          {% if p.imagen %} <!--Solo si existe-->
          <img src="{{ p.imagen.url }}" class="card-img-top" alt="imagen" style="height: 200px; object-fit: cover;">
          {% endif %}
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <p class="mb-0 fw-bold text-center">{{ p.nombre }}</p>
            </div>
            <div class="mt-3 text-center">
              <a class="btn btn-outline-primary btn-sm px-1" href="{% url 'productos_FindEdit' pk=p.id %}">Modificar</a>
              <button class="btn btn-outline-danger btn-sm px-2" data-bs-toggle="modal"
                data-bs-target="#eliminarProducto{{ p.id }}">Eliminar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal de confirmación para Eliminar -->
      <div class="modal fade" id="eliminarProducto{{ p.id }}" tabindex="-1"
        aria-labelledby="eliminarProductoLabel{{ p.id }}" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="eliminarProductoLabel{{ p.id }}">Confirmación de Eliminación</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ¿Estás seguro de que deseas eliminar el producto "{{ p.nombre }}"?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <a href="{% url 'productosDel' pk=p.id %}" class="btn btn-danger">Eliminar</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div> <!-- fin row -->
  </div> <!-- fin container -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      $("#idMensajes").delay(1000).fadeOut("slow");
    });
  </script>
</body>

</html>