{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <!--Iconos Boxicons-->   
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'css/style-login.css' %}">
    <!---Jquery-->   
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>

<body>
    <div class="container-form">
        <div class="information">
            <div class="info-childs">
                <a href="{% url 'index' %}" class="logo-container">
                    <img class="logo-normal" src="{% static 'img/Logo-sinfondo.png' %}" alt="Logo" width="100" height="100">
                    <img class="logo-hover" src="{% static 'img/Logo-sinfondo2.png' %}" alt="Logo" width="98" height="98">
                </a>
                <h2>Bienvenido</h2>
                <p>Afila tu hacha vikingo el Valhalla te espera. Create una cuenta o Inicia Sesión si ya tienes una.</p>
                <a href="{% url 'login' %}"><input type="button" value="Iniciar Sesión"></a>
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Crear una Cuenta</h2>
                <div class="icons">
                    <a href="https://www.facebook.com/profile.php?id=100092718123317" target="_blank"><i class='bx bxl-facebook'></i></a>
                    <a href="https://www.instagram.com/lobosdeguerrachile/" target="_blank"><i class='bx bxl-instagram' ></i></a>
                    <i class='bx bxl-github'></i>
                </div>
                <p>o usa tu correo para registrarte</p>
                
                <!--Formulario-->
                <form action="" method="post" class="form" id="form2">
                    {% csrf_token %}
                    <label id="labelUser">
                        <i class='bx bx-user'></i>
                        <input type="text" name="username" id="id_username" placeholder="Nombre de usuario">
                    </label>
                    <p id="warningUser"></p>
                    <label id="labelEmail">
                        <i class='bx bx-envelope' ></i>
                        <input type="email" name="email" id="id_email" placeholder="Dirección de correo">
                    </label>
                    <p id="warningEmail"></p>
                    <label id="labelPass1">
                        <i class='bx bx-user'></i>
                        <input type="password" name="password1" id="id_password1" placeholder="Contraseña">
                    </label>
                    <p id="warningPass1"></p>
                    <label id="labelPass2">
                        <i class='bx bx-envelope' ></i>
                        <input type="password" name="password2" id="id_password2" placeholder="Confirmar contraseña">
                    </label>  
                    <p id="warningPass2"></p>
                    
                    <input type="submit" id="bRegistrar" value="Registrarse">
                    <p class="warnings" id="warnings"></p>
                </form>
            </div>
        </div>
    </div>

    
    <script src="{% static 'js/script-login-page.js' %}"></script>
    <!--Tambien para placeholder {{form.username}}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('[name="username"]').setAttribute('placeholder', 'Nombre de usuario');
            document.querySelector('[name="password1"]').setAttribute('placeholder', 'Contraseña');
            document.querySelector('[name="password2"]').setAttribute('placeholder', 'Confirmar contraseña');
        });
    </script>-->
</body>
</html>